body{
    margin: 0;
}
/*First Section*/

.topsection{
    background-color: #1F2937;
}
.logo{
    margin: 2em;
    margin-left: 5em;
    height: auto;
    width: 100px;
}
.navbar{ 
    float: right;
    margin-top: 40px;
    margin-right: 2em;
}
a{
    text-decoration: none;
    margin: 5px;
    color: white;   
}
.container{
    display: flex;
    margin: 15px;
    color: white;
}
h2, a{
    color: coral;
}


